body{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: black;
    color: white;
}
header{
    background-color:#E74C3C;
    padding: 16px 0;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    background-color: #b63a2c;
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align:center;
}
 nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
 }
 nav ul li a.activo{
    background-color: #772920;
 }
 .holder{
    max-width: 960px;
    margin:0 auto;
 }
 .destacados{
    display: flex;
    justify-content: space-between;
 }
.box{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}
footer{
    background-color: #312f2f;
}
 footer ul{
    list-style: none;
 }
 footer ul li a{
    color:white;
    text-decoration: none;
 }
 footer ul li a:hover{
    color:rgb(109, 22, 22);
    text-decoration: none;
 }
 .contacto{
    display: flex;
    gap: 24px;
 }
 .contacto div{
    width: 100%;
 }
 .Formulario p{
    display: flex;
 }
 .Formulario p label{
    min-width: 80px;
    display: flex;
    align-items: center;
 }
 .Formulario p:nth-child(4){
    align-items: start;
 }
.Formulario textarea{
    resize: none;
    height: 150px;
    width: 300px;
}
.Formulario input[type="text"]{
    width: 300px;
}
.Formulario input[type="mail"]{
    width: 300px;
}
.Formulario input[type="submit"]{
   margin-left: 80px;
}
.nosotros{
    margin-left: 20px;
    
}